.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;


}

.topPanel {
    text-align: center;
    padding: 20px;
}

.notTopPanel {
    display: flex;

}




.navButton {

    padding: 10px;
    text-align: center;
    width: 200px;
}

